*.sw[po]
*.py[co]
.project
.pydevproject
*~
*.db
*.orig
*.DS_Store
.coverage
.vagrant
public/
*.priv
.env

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
