packages:
  yum:
    postgresql93-devel: []
    libjpeg-turbo-devel: []
    libpng-devel: []
    freetype-devel: []
    libxslt-devel: []
    libxml2-devel: []
option_settings:
  "aws:elasticbeanstalk:container:python":
    WSGIPath: taytay/wsgi.py
    NumProcesses: 8
    NumThreads: 1
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "public/static/"
container_commands:
  00_dotenv:
    command: "ln -s ../env .env"
  01_migrate:
    command: "/opt/python/run/venv/bin/python manage.py migrate --noinput"
    leader_only: true
#  02_createsu:
#    command: "/opt/python/run/venv/bin/python manage.py createsu"
#    leader_only: true
  03_collectstatic:
    command: "/opt/python/run/venv/bin/python manage.py collectstatic --noinput"
